@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CalculatorBase{
    padding: 30px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #919191;
}
.screen{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10px;
    width: 730px;
    height: 230px;
    margin-bottom: 10px;
    background-color: white;
}
.screen .mainNumber{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 80px;
}
.screen .littleNumber{
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

.CalculatorBase div .row{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.CalculatorBase .row2 button,
.CalculatorBase .row3 button,
.CalculatorBase .row4 button{
    margin: 2px;
    width: 175px;
    height: 110px;
}
.CalculatorBase .row5 .n{
    margin: 2px;
    width: 175px;
    height: 110px;
}
.CalculatorBase .row1 .n{
    margin: 2px;
    width: 175px;
    height: 110px;
}
.CalculatorBase .row1 .eraser{
    margin: 2px;
    width: 175px;
    height: 110px;
    font-size: 35px;
}
#clear{
    margin: 2px;
    width: 365px;
    height: 110px;
}
.CalculatorBase .row5 .zero{
    margin: 2px;
    width: 365px;
    height: 110px;
}